{% extends "base.html" %}
{% block title %}Insert Task- JustStart{% endblock %}
{% block content %}
<div class="main">
	<nav>
		<div class="nav-items-list">
			<a class="menu-item" href="{{ url_for('logout') }}">Log Out</a>
		</div>
		<div class="nav-site-name">
			<a class="site-name">
				<h5>JS</h5>
			</a>
		</div>
	</nav>
	
	<div id="task-insertion">
		<form id="task-insertion-form" method="post">
			{{ form.hidden_tag() }}
			<div class="task-insertion-form-label-container">
				{{ form.title.label }}
			</div>
			<div class="task-insertion-form-field-container">
				{{ form.title() }}
			</div>
			<div class="task-insertion-form-label-container">
				{{ form.departments.label }}
			</div>
			<div class="task-insertion-form-field-container">
				{{ form.departments() }}
			</div>
			<div class="task-insertion-form-label-container">
				{{ form.roles.label }}
			</div>
			<div class="task-insertion-form-field-container">
				{{ form.roles() }}
			</div>
			<div class="task-insertion-form-label-container">
				{{ form.description.label }}
			</div>
			<div id="task-insertion-form-field-special-container">
				{{ form.description() }}
			</div>
			<div class="task-insertion-form-field-container">
				{{ form.submit() }}
			</div>
		</form>
	</div>
</div>
{% endblock %}
