{% extends "base.html" %}
{% block title %}Recover Password - JustStart{% endblock %}
{% block content %}
<nav>
	<div class="nav-items-list">
		<a class="menu-item" href="{{ url_for('login') }}">Log In</a>
	</div>
	<div class="nav-site-name">
		<a class="site-name" href="{{ url_for('landing') }}">
			<h5>JS</h5>
		</a>
	</div>
</nav>
<div id="password-recovery">
	<div id="recovery">
		<form id="password-recovery-form" method="post">
			{{ form.hidden_tag() }}
			<div id="password-recovery-form-label-container">
				{{ form.email.label }}
			</div>
			<div class="password-recovery-form-field-container">
				{{ form.email() }}
			</div>
			<div class="password-recovery-form-field-container">
				{{ form.submit() }}
			</div>
		</form>
	</div>
</div>
{% endblock %}